* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuenteheading: 'Montserrat', sans-serif;
    --fuenteparrafos: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Amaranth', sans-serif;
    --funteprueba: 'goudysans-lt-bt-light-italic', sans-serif;

    --primario: #d5b26a;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;
    --azul: #00579d;
    --kk: #643914;

}

html {
    box-sizing: border-box;
    /* para que el ancho de el html no afete el de los elementos */
    font-size: 62.5%;
    /*para que 1 rem = 10px */
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 1.8;
    /* altura entre letras */
}

/* GLOBALES  */

.contenedor {
    margin: 0 auto;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {

    font-family: var(--fuenteheading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/*  UTILIDADES  */
.no-margin {
    margin: 0;
}

.no-pading {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


/*   header   */


.logogrande {

    width: 40rem;
    margin: 8rem auto 5rem auto;

}

.buscador {
    border-bottom: 2.5px solid var(--azul);
    border-top: none;
    border-left: none;
    border-right: none;
}

input.lupa {
    width: 26px;
    height: 26px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 24.2%
}

.search-icono {
    position: relative;

}

::placeholder {
    color: var(--azul);
    font-weight: 700;
}

.navegacion {
    padding: 3rem 1rem;
}

.navegacion-enlace1 {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--azul);
    font-weight: 500;
    box-shadow: 3px 0px 0px 0px;
    padding-right: 20px;
}

.navegacion-enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--azul);
    font-weight: 500;
}


.navegacion a:hover {
    background-color: var(--primario);
    color: var(--negro);
}


/*  MAIN  */

.home1 {
    background-image: url(/img/BANNER-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60rem;
}

.contenedor-empresa {
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.titulo-empresa {
    font-family: var(--fuentesecundaria);
    color: var(--primario);
    font-size: 4rem;
}

.texto-empresa {
    padding-bottom: rem;
    font-family: var(--fuentesecundaria);
    color: var(--azul);
    font-size: 2.3rem;
    text-align: center;
}

.banner2 {
    /* background-image: url(/img/BANNER-2.png);*/
    width: 100vw;
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-container {
    display: inline-block;
    position: relative;
}

.button-container a {
    position: absolute;
    bottom: 4em;
    right: 4em;
    background-color: #8F0005;
    border-radius: 1.5em;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
}

.sobre-campodonico {
    text-align: center;
    margin: 10rem;
    font-family: 'Amaranth';
    font-size: 3.2rem;
    color: var(--azul);
}

.contenedor-servicios {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;

}

.contendor-icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-letras {
    color: var(--azul);
    text-align: center;
    padding-top: 2rem;
}

.letras-icono {
    font-size: 2.3rem;
    line-height: 1.3;
    color: var(--azul);
}

/* HOVER SERVICIOS  */

.contenedorH figure {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.contenedorH figure img {
    width: 16rem;
    height: 16rem;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedorH figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(123, 94, 0, 0.512);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
}

.contenedorH figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    height: 12vh;
    align-items: center;
    width: 99vw;
}

.footer-contenedor {
    background-color: var(--primario);
    height: 15vh;
    display: flex;

}

.footer-contenedor-chico {
    display: flex;
    align-items: center;
    width: 12rem;
}


.footer-letras {
    color: var(--blanco);
    margin-left: 2rem;
    font-weight: 500;
}

.iconos {
    display: flex;
    align-items: center;
}

.cotenedor-logo-contacto {
    display: flex;
}


/* PRODUCTOS */

.contenedor-productos {
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 100%;
}

.contenedor-texto {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-65%, -35%);
}

.nuestros {
    color: var(--blanco);
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgb(85, 84, 84);
}

.productos {
    color: var(--blanco);
    font-size: 13rem;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgb(85, 84, 84);
}

.img-productos {
    width: 100vw;
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.contendor-botones {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

.boton {
    display: block;
    font-family: var(--fuenteheading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton-p {
    padding: 1.2rem 3rem;
}

.boton:hover {
    cursor: pointer;
}

.boton--secundario {
    background-color: var(--primario);
    width: 59.5rem;
    border-radius: 4rem;
}

.boton--primario {
    background-color: var(--primario);
    width: 59.5rem;
    border-radius: 1px 1px 17px 17px;
}

.Mira {
    color: var(--blanco);
    font-size: 4rem;
    font-weight: 700;
    border: #000;
    text-shadow: 5px 5px 10px rgb(85, 84, 84);
}

.harinas {
    color: var(--blanco);
    font-size: 10rem;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgb(85, 84, 84);
}


.boton-conocelas {
    border-radius: 10px;
    color: var(--blanco);
    font-size: 3rem;
    background-color: var(--kk);
    position: relative;
    border: 1px solid var(--kk);
    padding: 1rem 4rem;
    left: 1124px;
    bottom: 250px;
    margin-top: 2rem;
}

.texto-harinas {
    line-height: 8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 1010px;
    top: 1589px;
    max-width: 53rem;
}

.contenedor-padre-exterior-harinas {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

/* POLENTA */

.contenedor-polenta {
    position: absolute;
    top: 60%;
    left: 32%;
}

.polenta {
    color: var(--blanco);
    font-size: 13rem;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgb(85, 84, 84);
}

.contendor-polenta {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.texto-polenta {
    max-width: 75rem;
}

.polenta500 {
    font-family: var(--fuenteparrafos);
    font-size: 7.5rem;
    color: var(--primario);
    font-weight: 700;
    line-height: 1.6;
}

.parrafo-poleta1,
.parrafo-poleta2 {
    font-family: var(--fuenteparrafos);
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 15rem;
}

.parrafo-poleta2 {
    margin-top: 3.5rem;
}

.img-polenta {
    width: 53rem;
    margin-right: 10rem;
}

/* COMERCIO EXTERIOR  */


.letras-doradas {
    font-family: var(--fuenteparrafos);
    font-size: 6rem;
    color: var(--primario);
    font-weight: 700;
    box-shadow: 0px 3px 0px 0px;
    margin-bottom: 4rem;
}

.contenedor-exterior {
    max-width: 120rem;
    display: flex;
    flex-direction: column;
}

.parrafo-exterior {
    font-family: var(--fuenteheading);
    font-size: 2.3rem;
    font-weight: 600;
}

.contenedor-padre-exterior {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.info-exterior {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0rem 10rem 0rem;
}

.linea-exterior {
    margin-bottom: 4rem;
    box-shadow: 0px 3px 0px 0px var(--primario);
    width: 48rem;
}

.contendor-contacto-exterior {
    width: 50rem;
}

.icono-sobre {
    margin-top: -1rem
}

.contenedor-polenta-exterior {
    top: 45%;
    left: 8%;
}

/*  CONTACTO   */

.contenedor-letra-azul-contacto {
    margin: 3px;
}

.letras-azul-contacto {
    font-family: var(--fuenteheading);
    font-size: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--azul);
    box-shadow: 0px 3px 0px 0px var(--primario);
}

.parrafo-contacto {
    font-family: var(--fuenteheading);
    font-size: 2.3rem;
    font-weight: 600;
    color: #7a7777;
}

.form-contacto {
    font-family: var(--fuenteheading);
    font-size: 3rem;
    font-weight: 500;
    color: #7a7777;
    margin-top: 6.6rem;
}

.contenedor-contacto {
    display: flex;
}

.campo__field {
    border: 4px solid var(--primario);
    border-radius: 20px;
    height: 6rem;
    width: 60rem;
    outline: none;
}

.div_campo__texarea {
    border: 4px solid var(--primario);
    border-radius: 20px;
    height: 50rem;
    width: 60rem;
}

.campo__texarea {
    border: none;
    border-radius: 13px 14px 0px 0px;
    width: 59.2rem;
    height: 42rem;
    outline: none;
}

.letras-azul-contacto-padre {
    margin: 2rem 20rem;
}

.linea-contacto {
    box-shadow: 0px 3px 0px 0px var(--primario);
    width: 59rem;
    margin-bottom: 8rem;
}

.contatos-abuelo {
    display: flex;
    justify-content: center;
}

.texto-parrafo-contacto {
    margin-bottom: 8rem;
}

.margin-b-contacto {
    margin-bottom: 3rem;
}

.contendeor-2 {
    margin-left: 10rem;
}

.parrafo-contacto-comun {
    font-family: var(--fuenteparrafos);
    font-size: 2.3rem;
    font-weight: 500;
}

/*  RRHH   */

.rrhh {
    box-shadow: none;
    margin-bottom: -43px;
    padding: 2rem 0rem;
}

.parrafo-poleta1 {
    color: var(--negro);
}

.punto {
    font-size: 4.5rem;
    font-weight: 900;
}

.contenedor-lista {
    display: flex;
}

.contacto-info {
    margin-left: 15rem;
}

.somoscampodonico {
    font-size: 3rem;
    background-color: white;
    padding: 0.7rem 0rem;
    color: var(--azul);
    font-weight: 600;
}

.rrhh-dorada {
    box-shadow: none;
    margin-bottom: -43px;
}

.parrafo-rrhh {
    font-family: var(--fuenteparrafos);
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 10rem;
    text-align: center;
}

.linea {
    box-shadow: 0px -3px 0px 0px var(--primario);
}

.texto-rrhh {
    margin: 4rem 0rem 17rem;
}

.sobre-campodonico-rrhh {
    margin: 10rem 10rem 0rem;
}

.punto-rrhh {
    margin: -1.2rem 3rem 0rem 0rem;
    font-size: 5rem;
    line-height: 1;
}

.H-RRHH {
    line-height: 1.4;
}

/* CONTROL DE CALIDAD */

.control-texto {
    font-weight: 600;
    margin: 4rem 0rem;
}

.bolt {
    font-weight: 600;
    font-size: 2rem;
}

.img-certificado {
    margin: 10rem 2.5rem;
    width: 40rem;
}

.laboratorio {
    margin-top: 10rem;
}

.parrafo-control {
    text-align: start;
    margin-top: 5rem;
}

.m-control {
    margin-bottom: 7rem;
}

.texto-control-n-m {
    margin-top: 16px;
}

.texto-control-M {
    margin-top: 2.2rem;
}

.margin-l-contro {
    margin-left: 10rem;
}

.inocuidad-mas {
    font-size: 6.6rem;
}

.contacto-info-control {
    margin-left: 12rem;
}

.contenedor-polenta-control {
    left: 14%;
}

/* BALANCEADOS */

.contendedor-balanceado {
    left: 7%;
}

.balanceado-texto {
    margin-top: 0px;
}

.parrafo-balanceado {
    font-family: var(--fuenteparrafos);
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 2.1rem;
}

.cont-balanceado {
    margin-top: 10rem;
}

.bal-texto {
    font-weight: 600;
    margin-top: 3rem;
}

.y {
    display: flex;
    column-gap: 25px;
}

.bal-texto-doble {
    margin-left: 10.5rem;
}

.parrrafo-balanceado-equinos {
    margin-left: 16rem;
}

.parrrafo-balanceado-cerdos {
    margin-left: 19.4rem
}

.parrrafo-balanceado-especiales {
    margin-left: 8.5rem
}

.max {
    width: 27rem;
}

.lista-bal {
    margin-top: 10rem;
}

.mar-bal {
    margin: 0rem 0rem;
}

.contenedor-punto-texto {
    display: flex;
}

.bal-titulo {
    font-size: 12rem;
}

.punto2 {
    margin: -6.6rem 2rem 0rem 0rem;
    font-size: 7rem;
}

/* NUESTRA EMPRESA */

.parrafo-empresa {
    font-family: var(--fuenteheading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.punto-empresa {
    margin: -3.6rem 2rem 0rem 0rem;
    font-size: 7rem;
    line-height: 0.6;
}

.marg-datos {
    margin-left: 18rem;
}

.lista-empresa {
    margin-top: 3rem;
}

.empresa-m {
    margin-left: 10rem;
}

.empresa-texto {
    font-weight: 600;
    margin: 2rem 0rem 4rem 0rem;
    font-size: 4rem;
    color: var(--azul);
}

.margin-empresa {
    margin-left: 13.5rem;
}

.img-historia {
    max-height: 28vw;
}

.empresa-titulos {
    margin: 8rem 0rem -2rem 0rem;
}

.no-w {
    font-weight: 400;
}

.datos {
    font-size: 5.3rem;
}

.margin-b {
    margin: 3rem 0rem;
}

.div-datos {
    margin-top: 1rem;
}

.programa-identidad {
    margin-right: 68rem;
}

.datos2 {
    font-size: 4.3rem;
}

.boton--terciario {
    background-color: var(--primario);
    width: 76.5rem;
    border-radius: 4rem;
    font-size: 2.4rem;
    font-weight: 400;
}

.margin-t {
    margin: 5rem 0rem;
}

.empresa-m {
    margin-left: 10rem;
}

.dorada-agro {
    font-size: 5rem;
    font-weight: 600;
}

.ya {
    display: flex;
    gap: 1.5rem;
}


/*AGRONEGOCIOS */

.y-agro {
    display: flex;
    column-gap: 25px;
}

.margin-agro {
    margin-left: 7rem;
}

.punto-agro {
    box-shadow: none;
    margin: -2.6rem 1rem 0rem 0rem;
}

.lista-agro {
    line-height: 1.2;
    margin-top: 5rem;
}

.margin-agro-abajo {
    margin-left: 27.6rem;
}

.contendedor-agronegocios {
    left: 7%;
}

.contendedor-agronegocios-main {
    margin-top: 8rem;
}

.soja-margin {
    margin-left: 27rem;
}

/* PREMEZCLA */

.video {
    margin-top: 2.2rem;
}

.img-premezcla {
    width: 27rem;
    height: 38rem;
}

.img-premezcla2 {
    width: 27rem;
    height: 37rem;
    margin-top: 1rem;
}

.elementos-derecha {
    margin-left: 11rem;
}

.premezcla-texto {
    font-size: 2rem;
}

.contenedor-premezcla-doradas {
    margin-top: 5rem;
}

.elementos-derecha-queso {
    margin-left: 6rem;
}

.elementos-derecha-semi {
    margin-left: 21rem;
}

/*  HARINAS  */

.img-harinas {
    width: 27rem;
    height: 25rem;
}

.img-herina-organica {
    height: 25.5rem;
    width: 25rem;
    margin-left: 1.6rem;
}

.parrafo-harinas {
    width: 25rem;
    text-align: center;
}

.contendeor-organicas {
    margin-left: 9.5rem;
}

.contenedor-boton-harinas {
    display: flex;
    width: 120rem;
}

.harinas-dorada {
    box-shadow: none;
    margin-bottom: 3rem;
    line-height: 1;
    width: 32rem;
}

.boton-harinas1,
.boton-harinas2 {
    font-size: 2.5rem;
    background-color: var(--azul);
    width: 60rem;
    border-radius: 2rem 0rem 0rem 2rem;
    padding: 2.5rem 3rem;
    position: relative;
}

.boton-harinas2 {
    border-radius: 0rem 2rem 2rem 0rem;
}

.contenedor-texto-harias {
    position: absolute;
    top: 47%;
    left: 8%;
}

.conenedor-botones2 {
    margin-top: -3.8rem;
}

.triangulo-equilatero-bottom1 {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid var(--blanco);
    position: absolute;
    left: 30%;
    top: 87.63%;
}

.triangulo-equilatero-bottom2 {
    left: 68%;
}

.img-harinas-familia {
    width: 26rem;
    height: 30rem;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.barra {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconos-hover {
    width: 16rem;
    height: 16rem
}

/* ------- Responsive ----------*/

@media (max-width: 1440px) {
    .texto-harinas {
        left: 824px;
    }

    .boton-conocelas {
        left: 962px;
        bottom: 255px;
    }

    .margin-agro-r {
        margin: 0rem;
    }
}

/* -------Desktop---------- */
@media (max-width: 1024px) {

    .triangulo-equilatero-bottom1 {
        display: none;
    }

    .texto-harinas {
        left: 524px;
    }

    .boton-conocelas {
        left: 650px;
        bottom: 263px;
    }

    .contenedor-padre-exterior {
        margin: 3rem;
    }

    /*------BALANCEADOS-------*/
    .bal-titulo {
        font-size: 10rem;
    }

    /*----- CONTACTO ------*/
    .contenedor-contacto {
        display: block;
    }

    .parrafo-contacto {
        text-align: center;
    }

    .contendeor-2 {
        margin-left: 1rem;
    }

    .letras-azul-contacto {
        text-align: center;
    }

    /*------- harinas ------*/

    .contenedor-lista {
        display: block;
    }

    .contenedor-boton-harinas {
        display: block;
        max-width: 60rem;
    }

    .conenedor-botones2 {
        margin-top: 5rem;
    }

    .boton-harinas2,
    .boton-harinas1 {
        border-radius: 2rem 2rem 2rem 2rem;
    }

}

@media (max-width: 1440px) {

    /*----- CONTACTO ------*/
    .letras-azul-contacto-padre {
        margin: 2rem 8rem;
    }

    footer {
        width: 100vw;
    }

    /*------- Empresa -------*/
    .boton--terciario {
        width: 100%;
    }

    .contenedor-lista {
        display: block;
    }

    .contacto-info {
        margin: 0rem;
    }

    .parrafo-balanceado {
        text-align: center;
        margin-top: 4rem;
    }

    .cont-empresa {
        margin-top: 0rem;
    }

    .dorada-emrpesa {
        text-align: center;
    }

    .empresa-texto {
        text-align: center;
        margin-top: 5rem;
    }

    .res-letras {
        display: flex;
        gap: 2rem;
        text-align: center;
    }

    .div-datos {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .margin-b {
        text-align: center;
    }

    .datos2 {
        text-align: center;
        padding: 1rem;
    }

    .ya {
        display: block;
        gap: 1, 5rem;
    }

    .marg-datos {
        margin-left: 0rem;
    }

    /* ------ comercio -----*/
    .linea-exterior {
        width: 20rem;
    }

    .agro-texto-r {
        text-align: start;
    }

    /*------- harina ------*/

    .contendeor-organicas {
        margin: 0rem;
    }
}


/* --------Tablet------------- */
@media (max-width: 768px) {
    .barra {
        flex-direction: column;
        margin-top: 3rem;
    }

    .navegacion {
        flex-direction: column;
    }

    .navegacion-enlace1 {
        box-shadow: none;
    }

    .home1 {
        width: 100vw;
        height: 40rem;
    }

    .texto-harinas {
        transform: none;
        left: 419px;
        top: 1305px;
    }

    .Mira {
        font-size: 3rem
    }

    .harinas {
        font-size: 6rem;
        line-height: 30px;
    }

    .banner2 {
        width: 100vw;
        height: 100%;
    }

    .boton-conocelas {
        margin: 0;
        position: relative;
        left: 452px;
        bottom: 101px;
    }

    .sobre-campodonico {
        margin: 0px 0px 40px 10px;
    }

    .iconos-hover {
        width: 10rem;
        height: 10rem;
    }

    .contenedorH figure img {
        width: 10rem;
        height: 10rem;
    }

    footer {
        width: 100vw;
    }

    .dorada-agro-desktop {
        display: none;
    }

    .contenedor-boton-harinas {
        flex-direction: column;
    }

    .contacto-info,
    .parrrafo-balanceado-equinos,
    .parrrafo-balanceado-cerdos,
    .parrrafo-balanceado-especiales {
        margin: 0px;
    }

    .y {
        flex-direction: column;
    }

    .contendedor-agronegocios-main {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .contenedor-boton-harinas {
        width: 60rem;
    }

    .productos {
        font-size: 8rem;
    }

    .rrhh-dorada {
        margin: -6px;
        text-align: center;
    }

    /*------AGRO-----*/
    .margin-agro {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 2rem;
    }

    .contenedor-lista {
        display: block;
    }

    .dorada-agro {
        text-align: center;
    }

    .parrafo-balanceado {
        text-align: center;
        margin: 2rem;
    }

    .logogrande {
        margin: 0rem auto 3rem auto;
    }

    .contenedor-productos {
        object-fit: contain;
    }

    .img-productos {
        height: 35rem;
    }

    .bal-titulo {
        font-size: 6rem;
    }

    .y-agro {
        justify-content: center;
    }

    .lista-agro {
        margin: 5rem 0rem 5rem 7rem;
    }

    /*------ BALANCEADOS ---- */

    .cont-balanceado {
        margin-top: 3rem;
    }

    .contenedor-lista {
        margin: 0rem 1.5rem;
    }

    .bal-texto {
        text-align: center;
    }

    .balanceado-texto {
        text-align: center;
    }

    /*----- CONTACTO ------*/
    .contenedor-contacto {
        display: block;
    }

    .parrafo-contacto {
        text-align: center;
    }

    .contendeor-2 {
        margin-left: 1rem;
    }

    .letras-azul-contacto {
        text-align: center;
    }

    /*----- CONTROL ------*/
    .polenta {
        font-size: 8rem;
    }

    .control-m {
        top: 45%;
        left: 18%;
    }

    .parrafo-control {
        text-align: center;
    }

    .contacto-info-control {
        margin-left: 0rem;
        text-align: center;
    }

    .margin-l-contro {
        margin: 0;
        text-align: center;
    }

    .img-certificado {
        margin: 10rem 16.5rem;
    }

    .contacto-info {
        text-align: center;
    }

    /*--------- Harinas --------*/

    .contenedor-texto-harias {
        top: 20%;
    }
}



/* -----------Mobil------------ */

@media (max-width: 426px) {
    .logogrande {
        width: 30rem;
    }

    .home1 {
        width: 100%;
        height: 25rem;
    }

    .titulo-empresa {
        font-size: 2rem;
    }

    footer {
        width: 100vw;
        height: auto;
    }

    .footer-contenedor {
        flex-direction: column;
        height: auto;
    }

    .contenedor-servicios {
        flex-direction: column;
        margin: 0px 0px 50px 0px
    }

    .boton-conocelas {
        font-size: 1.5rem;
        left: 232px;
        bottom: 55px
    }

    .Mira {
        font-size: 2rem;
    }

    .harinas {
        font-size: 3rem;
        line-height: 0px
    }

    .texto-harinas {
        top: 1162px;
        left: 210px
    }

    .sobre-campodonico {
        font-size: 2rem;
    }

    .letras-icono {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .iconos-hover {
        width: 8rem;
        height: 8rem;
    }

    .contenedorH figure img {
        width: 8rem;
        height: 8rem;

    }

    /*------agro -------*/
    .dorada-agro {
        font-size: 3.6rem;
    }

    .bal-titulo {
        font-size: 3.5rem;
    }

    .contenedor-productos {
        object-fit: contain;
    }

    .img-productos {
        height: 23rem;
    }

    .contenedor-padre-exterior {
        margin-top: 3rem;
    }

    /*------CONTACTO------*/
    .letras-azul-contacto {
        font-size: 4rem;
    }

    .parrafo-contacto {
        font-size: 1.8rem;
    }

    .texto-parrafo-contacto {
        margin: 0rem 2rem;
    }

    .formulario-completo {
        margin: 2rem;
    }

    .campo__field {
        width: 100%;
    }

    .contenedor-padre-exterior {
        display: block;
    }

    .campo__texarea {
        width: 100%;
    }

    .boton--primario {
        width: 100%;
    }

    .div_campo__texarea {
        width: 100%;
    }

    /*-------- CONTROL -------*/
    .polenta {
        font-size: 4rem;
    }

    .img-certificado {
        margin: 5rem 0rem;
    }

    .rrhh-dorada {
        font-size: 4rem;
    }

    /* ------ Comercio -----*/

    .linea-exterior {
        width: 0rem;
        margin-bottom: -10rem;
    }

    .contendor-contacto-exterior {
        width: 29rem;
    }

    .info-exterior {
        text-align: center;
        display: block;
        margin-bottom: 5rem;
    }

    /*-------- Harinas ------*/

    .boton-harinas1,
    .boton-harinas2 {
        padding: 1.5rem 3rem;
    }

    .contenedor-texto-harias {
        top: 10%;
    }

    .contenedor-boton-harinas,
    .boton-harinas1,
    .boton-harinas2,
    .boton--secundari {
        width: 40rem;
    }
    .parrafo-harinas, .img-harinas {
        width:100%;
        
    }
    .contenedor-texto-harinas-c{
        max-width: 30rem;
    }
    .dorada-r{
        margin-top: 3rem;
    }

}

@media (max-width: px) {
    .logogrande {
        width: 30rem;
    }
}